	<header class="p-3 mb-3 border-bottom">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-between">
				<a href="" class="mb-2 mb-lg-0 link-body-emphasis text-decoration-none justify-content-lg-start">
					<img src="/bootstrap-icons/icons/reddit.svg" alt="Reddit" width="32" height="32" />
					<span class="fs-4 mx-2">CRUD-Clubes</span>
				</a>

				<a href="https://argentinaprograma.com/"
					class="mb-2 mb-lg-1 link-body-emphasis text-decoration-none ml-auto">
					<span class="fs-4 mx-2">r/argentina-programa</span>
				</a>
			</div>
		</div>
	</header>
